.bulletin-wrap {
    width: 1240px;
    margin: 200px auto 0 auto;


    .bul-tit {
        font-size: 26px;
        text-align: center;
        margin-bottom: 3vh;
    }

    .table {
        text-align: left;
        width: 100%;

        tr {
    
            th {
                background-color: #999;
                font-size: 1.1em;
                color: #fff;
    
            }
    
            .th1 {
                width: 5%;
            }
    
            .th2 {
                width: 40%;
            }
            
            .th3 {
                width: 15%;
            }
    
            .th4 {
                width: 15%;
            }
    
            .th5, .th6 {
                width: 5%;
            }
    
    
        
            th, td {
                border: 1px solid gray;
                border-width: 1px;
                border-collapse: collapse;
                padding: 8px;
            }
        
            &:hover td {
                background: #ddd;
                cursor: pointer;
            }
        }
    
    }

    button {
        float: right;
        margin-top: 1vh;
        padding: 0.5vh 1vh;
        cursor: pointer;
    }
}

