.fav-wrap {
    width: 1240px;
    margin: 200px auto;

    .fav-title {
        font-size: 25px;
        margin-bottom: 60px;
        font-family: 'notoSans';
    }

    .fav-con {
        .fav-con-wrap {

            div {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 50px 50px;
                font-family: 'notosans';  
            }
            .fav-con-title {
                background-color: #ddd;
            }
        }
    }
}