.fav-wrap {
    width: 1240px;
    margin: 200px auto;

    .fav-title {
        font-size: 25px;
        margin-bottom: 60px;
        font-family: 'notoSans';
    }

    .fav-con {
        .fav-con-wrap {
            display: table;
            width: 1240px;

            .fav-con-txt {
                display: table-row;
            }

            .fav-con-txt:first-child {
                background: #999;
                color: #fff;
                font-weight: 900;
            }

            .fav-con-title {
                background-color: #ddd;
            }

            .fav-con-list {
                display: table-cell;
                padding: 10px;
                border-bottom: 1px solid #ddd;

                button {
                    cursor: pointer;
                }
            }

            .fav-con-list.col {
                width: 20%;
            }
            
            .fav-con-list.col2 {
                width: 45%;
            }

            .fav-con-list.col3 {
                width: 20%;
            }

            .fav-con-list.col4 {
                width: 15%;
            }
        }
    }
}