.map-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-title {
    font-size: 2em;
    margin-bottom: 1vh;
}

#markerContent {
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}