// FOOTER

.footer-wrap {
    width: 100%;
    background: #373F41;
    //position: fixed;
    bottom: 0;

    .footer {
       width: 1280px;
       height: 20vh;
       margin: 0 auto;
       position: relative;

       .footer-info {
          position: absolute;
          left: 30px;
          top: 4vh;
          color: #fff;
          padding-right: 100px;
          border-right: 1px solid #fff;
       }

       .footer-info-logo {
          font-size: 40px;
          padding-bottom: 20px;
       }

       .footer-info-addr,
       .footer-info-tel {
          font-size: 13px;
          line-height: 20px;
       }
    }
    
}
